.header {
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 60px;
    padding: 0 calc(2rem - 12px) 0 2rem;
    background-color: $bg-header-dark;
    border-bottom: 1px solid $main-color-55;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1400px;
    min-width: 220px;
    margin: auto;
}

.nav-logo-img {
    height: 3rem;
}

.icons {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    i {
        font-size: 1.5rem;
        transition: font-size .2s ease, color .3s ease;
    }

    img {
        width: 40px;
        display: flex;
        align-self: center;
        transition: transform .2s ease, color .3s ease;
    }

}

.icon-container {
    width: 3rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    height: 100%;

    .icon-container:hover {

        i {
            font-size: 1.8rem;
            color: $main-color;
        }

        img {
            transform: scale(1.2);
            color: $main-color;

        }
    }

}

.nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: auto;
    background-color: $bg-dark;
    padding: 1rem 2rem 2rem;
    overflow-y: auto;
    z-index: 1;
    transition: transform .4s ease;
    transform: translateY(-110%);
    border-bottom: 1px solid $main-color-55;
}

.nav-logo-img {
    height: 45px;
    width: 45px;
}

.hamburger-btn-close {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform .3s ease, color .3s ease;
}

.hamburger-btn-close:hover {
    color: $main-color;
    transform: scale(1.2);
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-link {
    font-size: 1.2rem;
    text-transform: capitalize;
    color: $text-color-light;
    line-height: 1.5;
    display: block;
    padding: 1rem 0;
    // padding-bottom: 0;
    // background-image: linear-gradient($main-color, $main-color);
    // background-size: 0 1px;
    // background-repeat: no-repeat;
    // background-position: 0 100%;
    transition: color 0.5s ease;
}

.nav-link:hover {
    color: $main-color;
    background-size: 100% 1px;
}

.nav-link.active {
    color: $main-color;
    background-size: 100% 1px;
}


.nav-links {
    li {
        width: 100%;
        display: block;
        text-align: center;
        border-bottom: 1px solid $small-menu-border;
    }
}

.nav-links {
    li:first-child {
        border-top: 1px solid $small-menu-border;
        margin-top: 1rem;
    }
}

.openHamburgerMenu {
    // display: none;
    transform: translateY(0);
}