@media (min-width: 576px) {}

@media (min-width: 768px) {
    section {
        padding-top: 4rem;
    }

    .main-heading {
        h2 {
            font-size: 4.5rem;
        }

        span {
            font-size: 2.5rem;
        }
    }

    .scrollUp {
        visibility: visible;
        opacity: 1;
    }

    // about
    .btn-group {
        flex-direction: row;
        justify-content: center;
        gap: 3rem;

        .about-btn,
        .btn-secund {
            width: fit-content;
        }
    }

    .quote {
        p {
            font-size: 1.5rem;
        }
    }

    .quote-container {
        padding: 2rem;
    }

    .footer {

        .footerInfo {
            flex-direction: row;
            text-align: center;
            gap: 2rem;
            padding: .7rem 1rem;

            a {
                padding: .5rem;
            }
        }
    }

    .copyright-container {
        flex-direction: row;
        gap: 1rem;
    }

    .footer-social-media {
        gap: 3rem;
        padding: 1rem;
    }
}

@media (min-width: 992px) {

    //  header and nav
    .hamburger-btn-open {
        display: none;
    }

    .nav {
        position: relative;
        background: transparent;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 1rem;
        padding: 0;
        transform: translateY(0);
        border: none;
        padding: 0 2rem;
        transition: all 0s;

        .hamburger-btn-close,

        .nav-logo-img {
            display: none;
        }

        .nav-links {
            flex-direction: row;

            gap: 1.5rem;

            .nav-link {
                font-size: 1.2rem;
                padding: 0;
                padding-bottom: 0;
                background-image: linear-gradient($main-color, $main-color);
                background-size: 0 2px;
                background-repeat: no-repeat;
                background-position: 0 100%;
                transition: color 0.3s ease, background-size 0.3s ease;
            }

            .nav-link:hover {
                color: $main-color;
                background-size: 100% 2px;
            }

            .nav-link.active {
                color: $main-color;
                background-size: 100% 2px;
            }

            li {
                border: none;

            }

            li:first-child {
                margin-top: 0;
            }
        }
    }

    .home {
        h1 {
            font-size: 7rem;
            margin-bottom: 2rem;
        }

        h3 {
            font-size: 2rem;
        }

        p {
            font-size: 1.5rem;
        }

    }

    .home-social-media {

        display: flex;

    }



    // about section
    .about-right {
        .about-section {
            padding: 5rem;
        }
    }

    .about-left {
        align-items: start;
    }

    .about-img {
        width: 360px;
        height: 360px;
    }

    .about-left img {
        width: 340px;
        height: 340px;
    }

    .more-info-container {
        padding: 4rem 3.5rem;
    }

    // quote section
    .quote {
        p:first-child {
            margin-bottom: 2rem;
        }
    }

    .quote-container {
        height: 300px;
        width: 70%;
        padding: 4rem;
    }

    // skill section
    .skill-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2.1fr);
        padding: 1rem 3rem;
        gap: 2rem;
        max-width: 1400px;
        margin: auto;
        grid-template-areas:
            "card1 card1 card2"
            "card3 card4 card4";

        .skills-card {
            width: 100%;
            height: 400px;
            justify-content: space-between;

            .skills-icon-container {
                height: 100%;

                .skill-container {
                    width: 8rem;
                    height: 8rem;

                    img {
                        width: 5rem;
                    }

                    p {
                        font-size: 1.2rem;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    .card-1 {
        grid-area: card1;
        width: 100%;
    }

    .card-2 {
        grid-area: card2;
    }

    .card-3 {
        grid-area: card3;
    }

    .card-4 {
        grid-area: card4;
    }



    // portfolio 
    .card-wrapper {
        max-width: 1400px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4em 2rem;

    }

    .portfolio-content {
        padding: 2rem .6rem 3rem;
        gap: 2rem;
    }

    .portfolio-popup-content-container {
        flex-direction: row;

    }

.btn-contact {
    align-self: flex-start;
}


}








@media (min-width: 1200px) {
    .nav {
        .nav-links {
            gap: 3rem;
        }
    }

    .icon-container {
        margin-left: 2rem;
    }

    .about-container {
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
        grid-template-areas:
            'aboutLeft aboutRight'
            'btnGroup aboutRight'
            'waveYellowReverse waveYellowReverse'
            'moreInfo moreInfo'
            'waveYellow waveYellow';
    }

    .about-left {
        width: 700px;
        grid-area: aboutLeft;
        align-items: center;
        justify-self: end;

    }

    .about-right {

        max-width: 700px;
        grid-area: aboutRight;
        margin-bottom: 0;

        .about-section {
            padding: 2rem 3rem 2rem 2rem;
            margin-bottom: 0;

            h3 {
                font-size: 2.2rem;
            }

            p {
                font-size: .9rem;
            }

            strong {
                font-size: 1rem;
            }

        }
    }

    .about-img {
        width: 420px;
        height: 420px;
    }

    .about-img::after,
    .about-img::before {
        width: 150px;
        height: 150px;
    }

    .about-left img {
        width: 400px;
        height: 400px;
    }

    .more-info-container {
        grid-area: moreInfo;
    }

    .btn-group {
        grid-area: btnGroup;
        width: 700px;
        align-items: start;
        justify-self: end;
    }

    .wave-yellow {
        grid-area: waveYellow;
        margin-bottom: 4rem;

    }

    .wave-yellow-reverse {
        grid-area: waveYellowReverse;
    }

    .quote-container {
        width: 60%;
        padding: 4rem;
        max-width: 1400px;
    }

    .footer {
        justify-content: flex-end;
        padding: 2rem 6rem 1rem;
        gap: 4rem;

        &-content-container {
            flex-direction: row;
            width: 100%;
            align-items: stretch;
            justify-content: space-between;
        }

        .footerInfo {
            align-items: center;
        }
    }
}


@media (min-width: 1400px) {}